@model UWA.Models.UnitedWay_KDMC2Pledges

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UnitedWay_KDMC2Pledges</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostCenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostCenter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEntered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEntered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcessLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcessLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrizeCriteria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrizeCriteria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayPeriods)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayPeriods)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualPayroll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualPayroll)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrandTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrandTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.County)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.County)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonationYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logged)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GotPrize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GotPrize)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
